/*https://duoparadigms.com/2013/10/11/10-color-palettes-perfect-autumnfall-season HEX Codes from top to bottom: #D9D9D9, #F5B3B4, #D15656, #94353C, #47322D, #996B42*/
html {
    scroll-behavior: smooth;
  }
  body{
    background-color:  #D9D9D9;
    align-items: center;
    justify-content: center;
  }
  
  h1,h2,h3,h4,h5,p{
    font-family: 'Baloo Chettan 2', cursive;
  }
  h1{
    margin-top:-50px;
    margin-bottom: -20px;
    font-size: 60px;
  }
  h2{
      font-size: 31px;
      margin-top: -10px;
      margin-bottom: 0px;
      padding: -100px;
  
    }
    h3{ 
        padding-right: 40px;
        padding-left:40px;
    }

  p{
      margin-top: -1px;
      margin-bottom: 5px;
 
      padding: 7px;
    
  
   }
  
  
  
  h4{
    margin-top:-2px;
    font-size: 20px;

  }

  .container{
    display: flex;
    justify-content: center;
    align-items: flex-end;
  }
  
  .search{
    display: flex;
    flex-direction:row;
    flex-wrap:wrap;
    height: 50px;
    border: 1px;
    border-radius: 10px;
    font-family: 'Baloo Chettan 2', cursive;
    text-align: right;
   
  }
  .projects{
      color: #47322D;
      display: flex;
      flex-direction:row;
      justify-content: right;
      align-items: center;
      text-align: center;
      width: stretch;
      padding-left: 60px;
  
  }
  
  
  .download{
      background-color: #D15656;
      border: none;
      margin-right: 5px;
      color: white;
      border-radius: 12px;
      justify-content: center;
      align-items: center;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 20px;
      margin:10px ;
      padding: 10px,15px;
      margin-bottom:25px;
      margin-left: 20px;
  
      font-family: 'Baloo Chettan 2', cursive;
  
  
      transition-duration: 0.35s;
    }
    .download:hover{ 
        background-color:white ;
        color: #F5B3B4;
    }
    
      
  
  .navi{
      display: flex;
      align-items: flex-start;
      font-size: 18px;
      font-family: 'Baloo Chettan 2', cursive;
      width: 90px;
      margin: 10px;
      text-align: right;
      border-radius: 12px;
      color:#D15656;
      padding-left: 5px;
      border-style: none;
      text-decoration: none;
      
      
  
      transition-duration: 0.35s;
  
  }
  
  .navi:hover{ 
      background-color:#F5B3B4 ;
      color: white;
  }
  .overlay{
    margin-top: 80px;
    display: flex;
    flex-direction: row;
    flex-wrap:wrap;
    justify-content: center;
    align-items:center;
    height: 300px;
    align-content: space-around;
  
    position: relative;

    text-align: center;
    transition: width 2s;
  
  
  }
  

  .category{
    flex-direction: row;
    flex-wrap:wrap;
    justify-content:center;
    align-items:center;
    text-align: center;
    margin-top: 5px;
    text-decoration: none;
    display: block;
    color: #47322D;


  }
  
  .card{
    color: #47322D;
    display: flex;
    flex-direction: row;
    flex-wrap:wrap;
    width: 490px;
    height: 320px;
    top: 0;
    left:500;
    float: left;
    text-align: left;
    padding: 1em;
    border-radius: 5px;
    box-shadow: 0 1.5px 0 0 rgba(0,0,0,0.1);
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    background-color:white;
  
    font-size: 17px;
   
    
  
  
  }

  
  .about{   
    font-size:17px;
    color: #47322D;
    background-color:  #F5B3B4;
    display: flex;
    flex-direction: row;
    flex-wrap:wrap;
    justify-content:left;
    align-items:flex-start;
    width:400px;
    height: 250px;
    padding: 20px;
    align-content: center;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    text-align: left;
    box-shadow: 0 1.5px 0 0 rgba(0,0,0,0.1);
    transition: width 0.5s ;
    transition-timing-function: ease-in-out 1s;
    transition-property: font-size 1s;
  
  
  }

  .about:hover{
    font-size:19px;
    width: 480px;

  }
  

  .above{
    z-index: 10;
    margin:30px;
  }
  
  .works{
    padding-left: 30px;
    width: 200px;
  }
  
  .work2{
    padding-left: 6px;
    width: 120px;
    transition: width 0.5s ;
    transition-timing-function: ease-in-out 1s;
    transition: width 0.5s ;
    transition-timing-function: ease-in-out 1s;
  }
  .work2:hover{
    margin-top: -30px;
    padding-left: 6px;
    width: 180px;
  }
  .work3{
    padding-left: 6px;
    width: 200px;
    transition: width 0.5s ;
    transition-timing-function: ease-in-out 1s;
  }
  
  .work3:hover{

    margin-top: -30px;
    padding-left: 6px;
    width: 350px;
  }
  .work4{
    width: 400px;
    transition: width 1s ;
    transition-timing-function: ease-in-out 1s;
  }
  .work4:hover{

    margin-top: -70px;
    margin-left: -35px;
    width: 540px;
  }

  .work5{
    width: 250px;
    transition: width 1s ;
    transition-timing-function: ease-in-out 1s;
  }
  .work5:hover{

    margin-top: -80px;
    width: 300px;
  }
  
  .work6{
    padding-left: 6px;
    width: 210px;
    transition: width 0.5s ;
    transition-timing-function: ease-in-out 1s;
  }
  
  .work6:hover{
    margin-left: -6px;
    margin-top: -80px;
    padding-left: 6px;
    width: 350px;
  }

  .work7{
    margin-left: -6px;
 
    width: 500px;
    transition: width 0.5s ;
    transition-timing-function: ease-in-out 1s;
  }
  
  .work7:hover{
    margin-top: -10px;
    margin-left: -85px;
    padding-left: 6px;
    width: 600px;
  }
  
  .work8{
    margin-left: -6px;
    width: 390px;
    transition: width 0.5s ;
    transition-timing-function: ease-in-out 1s;
  }
  
  .work8:hover{
    margin-top: -50px;
    margin-left: -90px;
    padding-left: 6px;
    width: 600px;
  }


  .button1{
    background-color: #D15656;
    border: none;
    margin-right: 5px;
    color: white;
    padding: 10px,2px;
    border-radius: 12px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    font-family: 'Baloo Chettan 2', cursive;
    border: 1.5px solid;
  
    transition-duration: 0.35s;
  }
  .button1:hover{ 
      background-color:white ;
      color: #F5B3B4;
  }
  
  .button2{
    background-color: white;
    border: none;
    color: #D15656;
    margin-left: 5px;
    padding: 10px,2px;
    border-radius: 12px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    font-family: 'Baloo Chettan 2', cursive;
    border: 1.5px solid;
    align-items: baseline;
  
    transition-duration: 0.35s;
  }
  
  .button2:hover{ 
      background-color:#F5B3B4 ;
      color: white;
  }
  
  .button3{
      background-color:#D15656;
      border: none;
      color: white;
      padding: 10px,2px;
      border-radius: 12px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 20px;
      font-family: 'Baloo Chettan 2', cursive;
  
      transition-duration: 0.35s;
  
    }
  
    .button3:hover{ 
      background-color:white ;
      color: #F5B3B4;
  }
  
  
  .contactbox{
    text-align: center;
    width: stretch;
    margin-top: 200px;
    display: flex;
    flex-direction: row;
    flex-wrap:wrap;
    justify-content: center;
    align-items:flex-st;
    height: 400px;
    align-content: center;
    position: relative;
    color: white;
  }
  
  .name{
    width:200px;
    background-color:#94353C;
    border: none;
    color: white;
    padding: 4px,1px;
    border-radius: 10px;
    margin: 5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    font-family: 'Baloo Chettan 2', cursive;
    border: 1.5px solid;
    transition: width 1s;
  }
  .name:hover{
    width:250px;
  }
  
  .email{
    width:400px;
    background-color:#94353C;
    border: none;
    color: white;
    padding: 4px,1px;
    border-radius: 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    font-family: 'Baloo Chettan 2', cursive;
    border: 1.5px solid;
    transition: width 1s;
  }
  .email:hover{
    width:450px;
  }
  
  .question{
    width: 600px;
    height: 100px;
    background-color:#94353C;
    border: none;
    margin: 5px;
    color: white;
    padding: 4px,1px;
    border-radius: 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    font-family: 'Baloo Chettan 2', cursive;
    border: 1.5px solid;
    transition: width 1s;
  }
  .question:hover{
    width:650px;
  }
  
  .robot{
    width:200px;
    border: none;
    color: white;
    padding-left: 9px;
    border-radius: 10px;
    text-align: left;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    font-family: 'Baloo Chettan 2', cursive;
    transition-property: font-size 3s;
    transition-timing-function: ease-in-out 3s;
    
  }
  .robot:hover{
    font-size:17px;
    
  }
  
  ::placeholder{
    color: white;
    opacity: 1;
  }
  footer{
    background-color: #94353C;
    opacity:0.95;
    margin:-10px;
  
  
  }